# https://github.com/slytomcat/yandex-disk-indicator/blob/master/Yandex.Disk-indicator.desktop
# https://specifications.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html#basic-format
# Python version desktop file template
[Desktop Entry]
Type=Service
ServiceTypes=all/allfiles
MimeType=all/all;
Actions=FileAddToStream;FileMoveToStream;PublishToYandex;PublishToYandexCom;UnpublishFromYandex;UnpublishAllCopy;_SEPARATOR_;ClipboardPublish;ClipboardPublishToCom;ClipboardToStream;_SEPARATOR_;VersionDisplay;
Icon=/usr/share/yd-tools/icons/yd-128.png
X-KDE-Priority=TopLevel
X-KDE-Icon=/usr/share/yd-tools/icons/yd-128.png
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
Name=ydpublish-python.desktop
X-KDE-Submenu=YaDisk (Python)


[Desktop Action FileAddToStream]
Name=Add to Stream
Icon=/usr/share/yd-tools/icons/yd-128.png
Exec=ydmenu-py-env FileAddToStream %F %k %c


[Desktop Action FileMoveToStream]
Name=Move to Stream
Icon=/usr/share/yd-tools/icons/yd-128.png
Exec=ydmenu-py-env FileMoveToStream %F %k %c


[Desktop Action PublishToYandex]
Name=Publish & Copy Link (.ru)
Icon=/usr/share/yd-tools/icons/yd-128.png
Exec=ydmenu-py-env PublishToYandex %F %k %c


[Desktop Action PublishToYandexCom]
Name=Publish & Copy Link (.com)
Icon=/usr/share/yd-tools/icons/yd-128.png
# &>> $YA_DISK_ROOT/yaMedia.log
Exec=ydmenu-py-env PublishToYandexCom %F %k %c


[Desktop Action UnpublishFromYandex]
Name=Remove Link
Icon=/usr/share/yd-tools/icons/yd-128_g.png
Exec=ydmenu-py-env UnpublishFromYandex %F %k %c


[Desktop Action UnpublishAllCopy]
Name=Remove Links (All Copies)
Icon=/usr/share/yd-tools/icons/yd-128_g.png
Exec=ydmenu-py-env UnpublishAllCopy %F %k %c


[Desktop Action ClipboardPublish]
Name=Publish Clipboard (.ru)
Icon=/usr/share/yd-tools/icons/light/yd-ind-error.png
Exec=ydmenu-py-env ClipboardPublish %F %k %c


[Desktop Action ClipboardPublishToCom]
Name=Publish Clipboard (.com)
Icon=/usr/share/yd-tools/icons/light/yd-ind-error.png
Exec=ydmenu-py-env ClipboardPublishToCom %F %k %c


[Desktop Action ClipboardToStream]
Name=Save Clipboard
Icon=/usr/share/yd-tools/icons/light/yd-ind-error.png
Exec=ydmenu-py-env ClipboardToStream %F %k %c


[Desktop Action VersionDisplay]
Name=v1.5.7
Icon=/usr/share/yd-tools/icons/yd-128.png
Exec=false