[Desktop Entry]
Type=Action
Name=YaDisk – Publish (COM)
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=inode/directory;application/octet-stream;*
Exec=%S/yaDiskDolphinMenu/gnome/scripts/ydmenu-gnome-wrapper PublishToYandexCom %F
Icon-Name=folder-publicshare
SelectionCount=1


